@model Gnostica.Models.PlayerGame

<div class="form-group" id="PlayerList">
    <label asp-for="PlayerID" class="control-label"></label>
    <select asp-for="PlayerID" class="form-control" asp-items="ViewBag.PlayerID"></select>
</div>