@model Gnostica.Models.PlayerGame

@{
    ViewData["Title"] = "Add Player to Game";
}

<h1>Add Player to Game</h1>

<h4>PlayerGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameID" class="control-label"></label>
                <select asp-for="GameID" class="form-control" asp-items="ViewBag.GameID"></select>
            </div>
            @{await Html.RenderPartialAsync("_ValidPlayerListPartial");}
            <div class="form-group">
                <label asp-for="PieceColor" class="control-label"></label>
                <input asp-for="PieceColor" class="form-control" data-jscolor="{}" />
                <span asp-validation-for="PieceColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jscolor.js"></script>

    <script>
        $("#GameID").change(function () {
            $.ajax({
                type: "POST",
                url: "/PlayerGames/GetValidPlayersCanJoinGame",
                data: { "GameID": $("#GameID").val() },
                success: function (response) {
                    $("#PlayerList").html(response);
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });
    </script>
}
