@model Gnostica.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumPlayers" class="control-label"></label>
                <input asp-for="NumPlayers" class="form-control" />
                <span asp-validation-for="NumPlayers" class="text-danger"></span>
            </div>
            <div>
                <h4>Players</h4>
                @for (byte playerNum = 1; playerNum != GnosticaParameters.MAX_PLAYERS_PER_GAME + 1; playerNum++)
                {
                    <div class="player" id="Player-@(playerNum)" data-player-num="@playerNum" style="display: none;">
                        <label for="Name-@(playerNum)" class="control-label">Player @playerNum:</label>
                        <select id="Name-@(playerNum)" asp-for="ID" class="form-control player-selector" asp-items="@(new SelectList(ViewBag.PlayerList, "ID", "Name"))"></select>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/Views/Games/Create.js"></script>
}
